.teams {
    background-color: $teams-section-bg-color;
    &__titel {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    color: $titel-link-color;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
    }
  }
 }

  .workers {
    display: block;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.workers__item {
    background-color: $main-bg-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 30px;
    
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    @media screen and (min-width: 768px) {
       width: calc((100% - 4 * 15px) / 2);
       margin: 15px;
    } 

    @media screen and (min-width: 1200px) {
        width: calc((100% - 8 * 15px)/ 4);
    }
  }



.workers__photo {
    margin-bottom: 30px;
  }
  
.workers__name {
    text-align: center;
    margin-bottom: 10px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: $titel-link-color;
  }
  
.workers__profession {
    margin-bottom: 16px;
  
    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    color: inherit;
  }
