// .client {
//     text-align: center;
 
  
//     &__titel {
//     margin-bottom: 50px;
  
//     color: $titel-link-color;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.16;
//   }

// }

.client {
    text-align: center;
 
    &__titel {
    margin-bottom: 30px;
  
    color: $titel-link-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }

}
