$main-text-color: #757575;
$style-color: #2196F3;
$contact-link-text-color: #757575;
$titel-link-color: #212121;
$logo-sp-head-color: #000000;
$hero-titel-color: #FFFFFF;
$main-btn-color: #FFFFFF;
$footer-sp-logo-color: #FFFFFF;
$address-map-color: #FFFFFF;
$address-link-color: rgba(255, 255, 255, 0.6);
$btn-hover-focus-color: #FFFFFF;
$border-portfolio-color: #EEEEEE;
$client-link-color: #AFB1B8;

$btn-hover-bg-color: #188CE8;
$main-bg-color: #FFFFFF;
$hero-section-bg-color: #2F303A;
$benefits-bg-color: #F5F4FA;
$teams-section-bg-color: #F5F4FA;
$kit-btn-bg-color: #F5F4FA;
$footer-bg-color: #2F303A;
$container-text-bg-color: rgba(33, 150, 243, 0.9);

